body {
    background-color: rgb(250, 212, 210);
}

h1 {
    color: orange;
}

img {
    margin: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1
}

p {
    text-align: center;
    width: 100px;
    margin: auto;
    border-color: #16f90b;
    border-width: 3px;
    border-style: solid;
}
