body {
    background-color: rgb(250, 212, 210);
}

h1 {
    color: orange;
}

div {

}

img {
  display: block;
  margin: 0 auto;
}

p {
    text-align: center;
    width: 100px;
    margin: auto;
    position: fixed;
    border-color: #16f90b;
    border-width: 3px;
    border-style: solid;
}
